{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'CSS/app.css' %}">
    <title>RentiFy</title>
</head>
<body >
  <nav class="navbar bg-light">
        <a class="navbar-brand" href="#">
          <img src="{% static 'Img/logo1.jpeg' %}" alt="logo" id="logo" width="140" height="50">
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link text-dark" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/signup">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark text-dark" href="">Our Best Agent</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark text-dark" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Login</a>
            </li>
          </ul>
    </nav>
    <section class="sign-in">
        <div class="container mt-5">
            <div class="signin-content">
                  
                    <div class="signin-image">
                        <figure>
                            <img src="{% static 'Img/login.jpeg' %}" width="300px" height="300px" alt="Login pic" />
                        </figure>
                        <a href="/signup" class="signup-image-link">Create an Account</a>
                    </div>
               
                <div class="signin-form">
                    <h2 class="form-title">Login</h2>
                    <form method="POST" class="register-form" id="register-form">
                     
 
                         <div class="form-group">
                            <label htmlFor="email">
                                <i class="fa-solid fa-envelope"></i>
                            </label>
                            <input type="email" name="email" id="email" auhrefComplete="off">
                              
                        </div>
 
 
                         <div class="form-group">
                            <label htmlFor="password">
                                <i class="fa-solid fa-lock"></i>
                            </label>
                            <input type="password" name="password" id="password" auhrefComplete="off">
                             
                        
                        </div>
 
                      
                        <div class="form-group ">
                            <input type="submit" name="signin" id="signin" class="form-submit"
                              
                            />
                        </div>
 
                    </form>
                </div>
              
            </div>
        </div>
   </section>
    </body>
    </html>